.product__card__style {
    background-color: #F4F3EE;
    box-shadow: $box-shadow;
    height: 270px;
    padding: 0px;
    border-radius: 10px;
    margin: 0px auto;
    margin-bottom: 20px;
}

.row :nth-child(3) .product__card__style {
    border: 3px solid #c32c72;
}

.row :nth-child(8) .product__card__style {
    border: 3px solid #c32c72;
}

.row :nth-child(6) .product__card__style {
    background-color: #c32c72;
}