$primary: #6a6a6a;
$background-colour: #e2e2e2;
$light: #ffffff;
$navbar-light-color: #000000;
$navbar-light-brand-color: black;
$navbar-light-brand-hover-color: #c32c72;
$navbar-light-active-color: #c32c72;
$navbar-light-hover-color: #c32c72;
$card-border-radius: 10px;